<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is me Learning ejs</h1>
    <p>
        Hello! I am trying to explore ejs, and want to learn complete backend this semister.
        That why I want to learn as fast as I can. Yes it is very hard to manage with the work load given by the collage but to succeed I would need to work hard.
    </p>
</body>
</html>